.tabSet {
    max-width: 100%;
    margin: 1em auto;
    overflow: hidden;
    @extend %clearfix;
}
.tabs {
    position: relative;
    &>.tabItem {
        float: left;
        margin: 0;
        font-size: 1em;
        line-height: 1;
        &.active, &:hover {
            a {
                @include gradient(#DEDEDE, #FEFEFE, vertical);
                box-shadow: none;
                em {
                    display: block;
                    color: #000;
                    &.checked {
                        color: $color-green;
                    }
                    &.notyet {
                        color: $color-red;
                    }
                }
            }
        }
        &>a {
            display: block;
            padding: 1em .5em;
            text-align: center;
            font-weight: bold;
            text-decoration: none;
            background: #DDD;
            border: 1px solid #CCC;
            border-right: none;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, .15) inset;
            @include text-overflow;
            @include box-sizing;
            span, em {
                display: block;
                color: #555;
                margin-bottom: 1em;
            }
            em {
                font-size: 1.75em;
                font-style: normal;
                font-weight: bold;
                text-shadow: 0px 0px 5px #FFF;
                margin-bottom: .2em;
            }
        }
        &:first-child {
            a {
                border-radius: .5em 0 0 .5em;
            }
        }
        &:nth-child(5) {
            a {
                border-radius: 0 .5em .5em 0;
                border-right:1px solid #CCC;
            }
        }
    }
}
//多組 可設定差異
.example-2 {
    .tabItem>a:hover {
        background: $secondaryColor;
    }
    .tabItem.active>a {
        background: $secondaryColor;
    }
}
// 顯示content
.active+.tabContent {
    display: block;
}
.tabContent {
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    clear: both;
    padding: .5em;
    display: none;
    // @include screen('mobile') {
    //     position: static;
    // }
    // ul {
    //     @include li-reset;
    // }
    // li {
    //     margin: 0 0 1.3em 0;
    //     padding: 0;
    //     line-height: 1.6;
    //     border-bottom: 1px #CCC dashed;
    //     @include screen('mobile') {
    //         @include text-overflow();
    //     }
    //     a {
    //         @include aSetting_nocolor;
    //     }
    //     time {
    //         display: inline-block;
    //         margin: 0 0 0 1em;
    //         font-size: .813em;
    //         color: #666;
    //     }
    // }
}
