.wrapper {
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    min-height: 600px;
    @include screen('mobile') {
        min-height: auto;
        border-radius: none;
    }
    &>p {
        text-align: center;
        font-size: .75em;
        color: #555;
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0;
    }
    .bottom_navbar {
        position: absolute !important;
        border-radius: 0 0 1em 1em;
    }
}
h2.title {
    font-size: 1.5em;
    text-align: center;
    position: relative;
    margin: 0 0 1em;
    &:after {
        position: absolute;
        width: 30%;
        height: 4px;
        background: $primaryColor;
        bottom: -10px;
        left: 50%;
        margin-left: -15%;
        content: "";
    }
    @include gutter($grid-gutter-width);
    @include screen('mobile') {
        text-align: center;
    }
}
h3 {
    margin: 0 0 .5em;
    padding-left: .5em;
}
.login {
    position: relative;
    border-radius: 1em;
    padding: 2em 1em 5em;
    margin: 2em auto 3em;
    background: #FFF;
    box-shadow: 0 1em 3em -1em rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    * {
        box-sizing: border-box;
    }
    @include screen('mobile') {
        outline: none;
        border-radius: 0;
        margin: 0;
    }
    h1 {
        max-width: 300px;
        margin: 0 auto 2em;
        position: relative;
        z-index: 1;
        img {
            max-width: 50px;
            display: block;
            margin: 0 auto;
            &.sub_logo {
                max-width: 320px;
            }
        }
    }
    form {
        width: 320px;
        margin: 0 auto;
        position: relative;
        z-index: 1;
        .form_grp {
            margin-bottom: 1em;
        }
        .form_grp label {
            display: none;
        }
        .checkbox {
            padding-left: 1em;
            padding-right: 1em;
            text-align: right;
        }
        input[type="text"], input[type="password"] {
            box-shadow: 0px 0px 15px RGBA(0, 0, 0, .2);
            border: none;
            padding: .8em 1em .8em 2.5em;
            transition: .3s ease-out;
            &:focus {
                box-shadow: 0px 0px 20px RGBA(0, 0, 0, .4);
            }
        }
        input[type="text"] {
            background: url(../images/icon/icon_man.svg) no-repeat .8em .8em #FDFDFD;
            background-size: 20px;
        }
        input[type="password"] {
            background: url(../images/icon/icon_lock.svg) no-repeat 1em 1em #FDFDFD;
            background-size: 16px;
        }
    }
    &:before, &:after {
        position: fixed;
        z-index: -1;
        bottom: -10em;
        left: -6em;
        width: 40em;
        height: 40em;
        content: "";
        background: url(../images/bubble_green.svg) no-repeat center center;
        background-size: contain;
        @include screen('mobile') {
            z-index: 0;
            bottom: 0em;
            left: -12em;
            width: 20em;
            height: 20em;
        }
    }
    &:after {
        top: -20em;
        right: -28em;
        left: auto;
        width: 70em;
        height: 60em;
        background: url(../images/bubble_yellow.svg) no-repeat center center;
        @include screen('mobile') {
            width: 40em;
            height: 40em;
        }
    }
}
.afterlogin {
    background: #F1F1F1;
    overflow: hidden;
    position: relative;
    padding: 2em 1em 5em;
    margin: 2em auto 3em;
    border-radius: 1em;
    box-shadow: 0 1em 3em -1em rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    min-height: 600px;
    @include screen('mobile') {
        min-height: auto;
    }
    * {
        box-sizing: border-box;
    }
    .m_menu {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 99;
        border-radius: 1em;
        padding: 80px 1em 1em;
        box-sizing: border-box;
        @include screen('mobile') {
            position: fixed;
            -webkit-overflow-scrolling: touch;
            -webkit-transform: translate3d(0, 0, 0);
        }
        .overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            background: #DDD;
            z-index: 0;
            top: 0;
            left: 0;
            border-radius: 1em;
        }
        @include screen('mobile') {
            border-radius: none;
        }
        ul {
            position: relative;
            z-index: 1;
            @include li-reset;
            li {
                display: block;
                float: left;
                padding: 1em;
                width: 50%;
                a {
                    border-radius: .5em;
                    display: block;
                    color: #333;
                    padding: 1em;
                    text-align: center;
                    font-size: 1em;
                    font-weight: bold;
                    @include gradient(#FFF, #DDD, vertical);
                    box-shadow: 0 .3em 1.5em -1em rgba(0, 0, 0, .45);
                    &:hover, &:focus {
                        color: #FFF;
                        text-shadow: 0px 1px 2px rgba(0, 0, 0, .75);
                        @include gradient(adjust_hue(saturate(lighten($color-blue, 13), 31), -8), darken($color-blue, 15), vertical);
                        box-shadow: 0px 1em 1.2em -.5em rgba(0, 0, 0, .25);
                    }
                    img {
                        display: block;
                        width: 4em;
                        height: 4em;
                        vertical-align: middle;
                        margin: 0 auto .2em;
                    }
                }
            }
        }
    }
    .form_grid {
        margin: 0;
        padding: 0;
        label {
            margin-bottom: .1em;
        }
    }
    .form_content {
        &.has_input {
            input[type="text"] {
                display: inline-block;
            }
            input[type="text"]:first-child {
                width: 64%;
                margin-right: 5%;
                @include screen('mobile') {
                    width: 62%;
                    margin-right: 6%;
                }
            }
            input[type="text"]:nth-child(2) {
                width: 30%;
            }
        }
    }
    @include screen('mobile') {
        border-radius: 0;
        margin: 0;
        width: 100%;
        min-height: 100vh;
    }
    select {
        option {
            @include text-overflow;
        }
    }
}
.content {
    padding: 50px 0em 5em;
    // @include screen('mobile') {
    //     position:relative;
    //     width: 100%;
    //     height: 100%;
    // }
}
.navbar {
    height: 60px;
    width: 100%;
    box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, .75);
    padding: 5px 1em;
    margin-bottom: 1em;
    position: absolute;
    background: #FFF;
    z-index: 99;
    left: 0;
    top: 0;
    @include screen('mobile') {
        position: fixed;
        transform: translateZ(0);
        padding: 5px .5em;
    }
    h1 {
        margin: 8px auto 0 60px;
        width: auto;
        float: left;
        img {
            display: inline-block;
            vertical-align: middle;
            height: 35px;
            margin-left: -4px;
        }
    }
    .btn {
        float: right;
        padding: .4em .8em .4em .2em;
        margin-top: .5em;
        font-size: .938em;
        i {
            &:before {
                margin-top: 0;
            }
        }
    }
    .menu_btn {
        width: 60px;
        height: 60px;
        padding: .5em;
        position: absolute;
        left: 0;
        top: 0;
        span {
            position: absolute;
            height: 3px;
            background: #666;
            top: 22px;
            width: 20px;
            left: 20px;
            &:nth-child(2) {
                top: 29px;
            }
            &:nth-child(3) {
                top: 36px;
            }
        }
        &:hover {
            background: $color-yellow;
            cursor: pointer;
            span {
                background: #000;
            }
        }
    }
}
.btn_grp {
    margin: 2em 0 3em;
    .btn {
        width: 100%;
        max-width: 320px;
        margin: 0 auto;
        font-size: 1.25em;
    }
}
.item {
    margin-bottom: 1em;
}
.dropdown-button {
    position: relative;
    .info {
        border-radius: 2em;
        border: 1px solid #DDD;
        line-height: 2.4em;
        height: 2.4em;
        padding: 0 24px 0 1em;
        border: 1px solid $color-gray;
        @include text-overflow;
        background: #FFF;
        &:after {
            position: absolute;
            right: .8em;
            top: .7em;
            width: 16px;
            height: 16px;
            content: "";
            background: url(../images/icon/icon_select_arrow.png) no-repeat center center #fff;
            background-size: 16px;
        }
    }
    .dropdown-content {
        background: #FFF;
        border-radius: 1em;
        margin-top: .2em;
        border: 1px solid rgba(0, 0, 0, .15);
        box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        font-size: .813em;
        max-width: 100%;
        height: 150px;
        overflow-y: auto;
        position: relative;
        z-index: 1;
        width: 96%;
        left: 2%;
        position: absolute;
        display: none;
        -webkit-overflow-scrolling: touch;
        -webkit-transform: translate3d(0, 0, 0);
        // display: none;
        ul {
            @include li-reset;
            padding: .4em 1em;
            li {
                border-bottom: 1px dashed #DDD;
                a {
                    padding: .3em 1em .3em 1.5em;
                    display: block;
                    @include aSetting_nocolor;
                    position: relative;
                    &:before {
                        position: absolute;
                        content: "";
                        border: 2px solid $primaryColor;
                        transform: rotate(45deg);
                        border-bottom: none;
                        border-left: none;
                        width: 4px;
                        height: 4px;
                        top: .9em;
                        left: .2em;
                        transition: .3s ease-out;
                    }
                    span {
                        color: $color-red;
                        display: inline-block;
                        margin: 0 .2em 0 0;
                    }
                    &:hover, &:focus {
                        &:before {
                            left: .5em;
                        }
                    }
                }
            }
        }
    }
}
.camera_zone {
    background: rgba(136, 136, 136, .3);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    .qrcode {
        @include aspect-ratio(1, 1);
        overflow: visible;
        width: 200px;
        border: 1px solid #FFF;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        &:after {
            position: absolute;
            content: "請對準掃描區域";
            bottom: -2em;
            color: #FFF;
            width: 100%;
            text-align: center;
            text-shadow: 0px 1px 3px rgba(0, 0, 0, 1);
            font-size: .813em;
        }
    }
}
.bottom_navbar {
    position: fixed;
    border-top: 1px solid #DDD;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    transform: translateZ(0);
    z-index: 999;
    @include gradient(#FFF, #CCC, vertical);
    ul {
        @include li-reset;
        li {
            width: 33.3%;
            float: left;
            display: block;
            padding: 5px;
            height: 80px;
            &.active {
                a {}
            }
            a {
                display: block;
                text-align: center;
                border-radius: 4px;
                height: 70px;
                padding: .5em;
                box-sizing: border-box;
                i {
                    font-size: 1.75em;
                }
                span {
                    text-align: center;
                    color: #222;
                    display: block;
                    font-size: .75em;
                }
                &:hover, &:focus {
                    background: rgba(0, 0, 0, .05);
                }
            }
        }
    }
}
.scan_result {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 98;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .65);
    @include screen('mobile') {
        position: fixed;
        transform: translateZ(0);
    }
    .info_box {
        width: 90%;
        height: 420px;
        margin: 80px 5% 0;
        padding: 1.5em 1em;
        text-align: center;
        background: #FFF;
        vertical-align: top;
        box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, .5);
        @include screen('xs_mobile') {
            margin: 26% 5% 0;
        }
        h3 {
            font-size: 2em;
            margin: 0 0 1em;
            padding: 0;
        }
        i {
            font-size: 5em;
        }
        ul {
            @include li-reset;
            margin-top: 1em;
            li {
                text-align: left;
                font-size: .938em;
                font-weight: bold;
                border-bottom: 1px dashed #DDD;
                margin-bottom: .5em;
                span {
                    width: 75px;
                    display: inline-block;
                    margin-right: 1em;
                    color: #888;
                }
            }
        }
        .btn_grp {
            margin: 1em;
        }
    }
    .error_message {
        font-size: 1.5em;
        font-weight: bold;
        color: #F22F14;
        line-height: 1.4em;
        margin: 0;
    }
}
.result {
    // height: 40vh;
    // overflow: hidden;
    // overflow-y: auto;
    // -webkit-overflow-scrolling: touch;
    // -webkit-transform: translate3d(0, 0, 0);
    ul {
        @include li-reset;
        li {
            &.notyet {
                a {
                    color: #999;
                }
            }
            a {
                background: #FFF;
                width: 100%;
                display: block;
                padding: .6em 5em .2em 1em;
                margin-bottom: .3em;
                color: #333;
                position: relative;
                border-radius: .5em;
                box-shadow: 0px 2px 7px -1px rgba(0, 0, 0, .25);
                span.name {
                    display: block;
                    width: 100%;
                    font-size: 1.25em;
                    font-weight: bold;
                    margin-bottom: .3em;
                }
                span.company {
                    font-size: .938em;
                    color: #999;
                }
                span.status {
                    position: absolute;
                    right: 1.5em;
                    font-size: 2em;
                    width: 1em;
                    height: 1em;
                    content: "";
                    top: 50%;
                    margin-top: -.45em;
                    .i_check {
                        opacity: .2;
                    }
                }
                &:after {
                    position: absolute;
                    width: .8em;
                    height: .8em;
                    border: 2px solid #999;
                    border-left: none;
                    border-bottom: none;
                    content: "";
                    right: 1.3em;
                    top: 50%;
                    margin-top: -.5em;
                    transform: rotate(45deg);
                    transition: .3s ease-out;
                }
                &:hover, &:focus {
                    &:after {
                        border: 2px solid #333;
                        border-left: none;
                        border-bottom: none;
                        right: 1em;
                    }
                }
            }
        }
    }
}
.section {
    margin: 1em 0;
    table {
        background: #FFF;
        font-size: .875em;
        i {
            margin: 0 auto;
            display: block;
            font-size: 2em;
            text-align: center;
        }
        .i_check {
            opacity: .2;
        }
        td:first-child {
            width: 45%;
        }
        span.checked {
            background: #80D30B;
            border-radius: 4px;
            color: #FFF;
            text-align: center;
            display: block;
            font-style: normal;
            font-size: .813em;
            padding: .2em;
        }
        span.notyet {
            background: #DEDEDE;
            border-radius: 4px;
            color: #555;
            text-align: center;
            display: block;
            font-style: normal;
            font-size: .813em;
            padding: .2em;
            white-space: nowrap;
        }
        time {}
    }
}
.function {
    text-align: right;
    margin-bottom: .5em;
    .btn {
        font-size: .75em;
    }
}
.no_result {
    margin-top: 3em;
    clear: both;
    text-align: center;
    h3 {
        font-size: 2em;
        margin: 0 0 1em;
        padding: 0;
    }
    i {
        font-size: 5em;
    }
    .error_message {
        font-size: 1.5em;
        font-weight: bold;
        color: #F22F14;
        line-height: 1.4em;
        margin: 0;
    }
}
.count {
    overflow: hidden;
    margin: 1em 0;
    ul {
        @include li-reset;
        li {
            width: 33.3%;
            display: block;
            float: left;
            text-align: center;
            border-right: 1px solid #FFF;
            border-left: 1px solid #CCC;
        }
    }
}
.main_function {
    ul {
        @include li-reset;
        li {
            display: block;
            float: left;
            padding: 1em;
            width: 33.3%;
            @include screen('xs_mobile') {
                float: none;
                width: 90%;
                margin: 0 auto;
                padding: .5em;
            }
            a {
                border-radius: .5em;
                display: block;
                color: #333;
                padding: 1em;
                text-align: center;
                font-size: 1.25em;
                font-weight: bold;
                color: #FFF;
                @include gradient(adjust_hue(saturate(lighten($color-blue, 13), 31), -8), darken($color-blue, 15), vertical);
                box-shadow: 0 .3em 2em -1em rgba(0, 0, 0, .45);
                &:hover, &:focus {
                    box-shadow: 0px 0px 1.5em adjust_hue(saturate(lighten($color-blue, 13), 31), -8);
                }
                @include screen('xs_mobile') {
                    text-align: left;
                    padding: .5em 1em;
                }
                img {
                    display: block;
                    width: 4em;
                    height: 4em;
                    vertical-align: middle;
                    margin: 0 auto .2em;
                    @include screen('xs_mobile') {
                        display: inline-block;
                        margin: 0 .2em 0 0;
                        width: 3em;
                        height: 3em;
                    }
                }
            }
        }
    }
}
.bold{
    font-weight: bold;
}
.select_zone {
    padding: 1em;
    @include gradient(adjust_hue(saturate(lighten(#CCC, 13), 31), -8), darken(#CCC, 15), vertical);
    border-radius: .5em;
    margin-bottom: .5em;
}
.content_result{
    padding: 1em;
    background: #FFF;
    border-radius: .5em;
    margin-bottom: .5em;
}
